.quran 
    .toggle
        i(class="fi fi-rr-menu-burger")


    if mode === "QuranChapter" 
        h1.quran__title= readerTitle
        // remove basmallah if surah is 9 or 1
        if this_chapter.chapter !== 9 && this_chapter.chapter !== 1
            h2.quran__basmallah 7
        else
            h2.quran__istieadha 2
        div(class=`quran__verse ${language}`)
            each verse, index in this_chapter.verses
                span(data-verse=`${index + 1}` data-chapter=`${this_chapter.chapter}` class=`${language}`)
                    | !{`${verse.text} ${index + 1} `.replace(/\d+/g, d => `<span class="ayah_number">${d.split('').map(digit => '٠١٢٣٤٥٦٧٨٩'[digit]).join('')}</span>`)}

    else if mode === "QuranJuz"
        h1.quran__title= readerTitle
        // remove basmallah if surah is 9 or 1
        if chapterNumber !== 9 && chapterNumber !== 1
            h2.quran__basmallah 7
        else
            h2.quran__istieadha 2
        div(class=`quran__verse ${language}`)
            each verse in this_juz[0].content
                if verse.chapter == chapterNumber
                    span(data-verse=`${verse.verse}` data-chapter=`${verse.chapter}` class=`${language}`)
                        | !{`${verse.text} ${verse.verse}`.replace(/\d+/g, d => `<span class="ayah_number">${d.split('').map(digit => '٠١٢٣٤٥٦٧٨٩'[digit]).join('')}</span>`)}
                    
    else if mode === "QuranPage"
        - let prev = null;

        // Check if basmallah or istieadha should be displayed :)

        div(class=`quran__verse ${language}`)
            each verse, index in this_page.verses
                - const curr = verse.chapter;

                if prev !== curr
                    if prev !== null
                        h2.divider 44
                    h1(class='quran__title padds')= chapter_info[curr - 1].name
        
                    if curr !== 9 && curr !== 1 && verse.verse === 1
                        h2(class='quran__basmallah padds') 7
                    else
                        h2(class='quran__istieadha padds') 2

                    - prev = curr;

                span(data-verse=`${verse.verse}` data-chapter=`${verse.chapter}` class=`${language}`)
                    | !{`${verse.text} ${verse.verse} `.replace(/\d+/g, d => `<span class="ayah_number">${d.split('').map(digit => '٠١٢٣٤٥٦٧٨٩'[digit]).join('')}</span>`)}

            // Display the page number at the end   

        p.quran__page--number
            if pageNumber > 1
                a.quran__page--prev(href=`/quran/book/${this_book}/page/${pageNumber + -1}`)
                    i(class='fi fi-rr-arrow-left')
            
            span= `${this_page.page_number} الصفحة`
            
            if pageNumber < 604
                a.quran__page--next(href=`/quran/book/${this_book}/page/${pageNumber + 1}`)
                    i(class='fi fi-rr-arrow-right')