.quran 
    .toggle
        i(class="fi fi-rr-menu-burger")


    if mode === "QuranChapter" 
        h1.quran__title= readerTitle
        // remove basmallah if surah is 9 or 1
        if this_chapter.chapter !== 9 && this_chapter.chapter !== 1
            h2.quran__basmallah 7
        p.quran__verse
            each verse, index in this_chapter.verses
                span(data-verse=`${index + 1}` data-chapter=`${readerTitle}`)= `${verse.text} ${index + 1} `.replace(/\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])

    else if mode === "QuranJuz"
        h1.quran__title= readerTitle
        // remove basmallah if surah is 9 or 1
        h2.quran__basmallah 7
        p.quran__verse
            each verse, index in this_juz[0].content
                if verse.chapter == this_chapter
                    span(data-verse=`${index + 1}` data-chapter=`${readerTitle}`)= `${verse.text} ${index + 1} `.replace(/\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])
                    
    else if mode === "QuranPage"
        // remove basmallah if surah is 9 or 1
        h2.quran__basmallah 7
        p.quran__verse
            each verse, index in this_page.verses
                span(data-verse=`${verse.verse}` data-chapter=`${chapter_info[verse.chapter - 1].name}` )= `${verse.text} ${verse.verse} `.replace(/\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])
        p.quran__page--number
            span= `${this_page.page_number} الصفحة`