.search_page
    .results
        .results__item
            .results__item--counter
                | 1 results found
            .results__item--quran
                a(href="/quran/chapter/1")
                .results__item--quran--ayah
                    | Hafs | Chapter 1  -  Ayah 1
                .results__item--quran--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
            .results__item--hadith
                .results__item--hadith--collection
                    | Sahih Bukhari | Hadith Number #1
                .results__item--hadith--text
                    | حَدَّثَنَا مُحَمَّدُ بْنُ يَحْيَى، حَدَّثَنَا سُفْيَانُ، عَنْ عَمْرِو بْنِ دِينَارٍ، عَنْ عَبْدِ اللَّهِ بْنِ عُمَرَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏ "‏ بُنِيَ الإِسْلاَمُ عَلَى خَمْسٍ شَهَادَةِ أَنْ لاَ إِلَهَ إِلاَّ اللَّهُ وَأَنَّ مُحَمَّدًا رَسُولُ اللَّهِ وَإِقَامِ الصَّلاَةِ وَإِيتَاءِ الزَّكَاةِ وَالْحَجِّ وَصَوْمِ رَمَضَانَ ‏"‏‏.‏
            .results__item--tafsir
                .results__item--tafsir--collection
                    | Tafsir Ibn Kathir | Chapter 1  -  Ayah 1
                .results__item--tafsir--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
            .results__item--quran
                a(href="/quran/chapter/1")
                .results__item--quran--ayah
                    | Hafs | Chapter 1  -  Ayah 1
                .results__item--quran--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
            .results__item--hadith
                .results__item--hadith--collection
                    | Sahih Bukhari | Hadith Number #1
                .results__item--hadith--text
                    | حَدَّثَنَا مُحَمَّدُ بْنُ يَحْيَى، حَدَّثَنَا سُفْيَانُ، عَنْ عَمْرِو بْنِ دِينَارٍ، عَنْ عَبْدِ اللَّهِ بْنِ عُمَرَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏ "‏ بُنِيَ الإِسْلاَمُ عَلَى خَمْسٍ شَهَادَةِ أَنْ لاَ إِلَهَ إِلاَّ اللَّهُ وَأَنَّ مُحَمَّدًا رَسُولُ اللَّهِ وَإِقَامِ الصَّلاَةِ وَإِيتَاءِ الزَّكَاةِ وَالْحَجِّ وَصَوْمِ رَمَضَانَ ‏"‏‏.‏
            .results__item--tafsir
                .results__item--tafsir--collection
                    | Tafsir Ibn Kathir | Chapter 1  -  Ayah 1
                .results__item--tafsir--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
            .results__item--quran
                a(href="/quran/chapter/1")
                .results__item--quran--ayah
                    | Hafs | Chapter 1  -  Ayah 1
                .results__item--quran--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
            .results__item--hadith
                .results__item--hadith--collection
                    | Sahih Bukhari | Hadith Number #1
                .results__item--hadith--text
                    | حَدَّثَنَا مُحَمَّدُ بْنُ يَحْيَى، حَدَّثَنَا سُفْيَانُ، عَنْ عَمْرِو بْنِ دِينَارٍ، عَنْ عَبْدِ اللَّهِ بْنِ عُمَرَ، قَالَ قَالَ رَسُولُ اللَّهِ صلى الله عليه وسلم ‏ "‏ بُنِيَ الإِسْلاَمُ عَلَى خَمْسٍ شَهَادَةِ أَنْ لاَ إِلَهَ إِلاَّ اللَّهُ وَأَنَّ مُحَمَّدًا رَسُولُ اللَّهِ وَإِقَامِ الصَّلاَةِ وَإِيتَاءِ الزَّكَاةِ وَالْحَجِّ وَصَوْمِ رَمَضَانَ ‏"‏‏.‏
            .results__item--tafsir
                .results__item--tafsir--collection
                    | Tafsir Ibn Kathir | Chapter 1  -  Ayah 1
                .results__item--tafsir--text
                    | بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
        
    .options
        h2.hidden The-Search-Options

        .options__type.hidden
            input#quran(type="radio" name="searchType" value="Quran" checked)
            label(for="quran") Quran
            input#hadith(type="radio" name="searchType" value="Hadith")
            label(for="hadith") Hadith
            input#tafsir(type="radio" name="searchType" value="Tafsir")
            label(for="tafsir") Tafsir

        .options__sub
            h3.hidden Quran
            .options__sub--quran.hidden
                input#arabic-quran(type="radio" name="quran_language" value="ara" checked)
                label(for="arabic-quran") Arabic
                input#english-quran(type="radio" name="quran_language" value="eng")
                label(for="english-quran") English

            h3.hidden Hadith

            .options__sub--hadith.hidden.invisible
                h4.hidden Language
                .options__sub--hadith--language
                    input#arabic-hadith(type="radio" name="hadith_language" value="ara" checked)
                    label(for="arabic-hadith") Arabic
                    input#english-hadith(type="radio" name="hadith_language" value="eng")
                    label(for="english-hadith") English
                h4.hidden Collection

                .options__sub--hadith--collection.hidden.invisible
                    for hadith_book in all_hadith_books
                        input(type="radio" name="hadith_collection" id=hadith_book.name value=hadith_book.name)
                        label(for=hadith_book.name) #{hadith_book.metadata.name}

            h3.hidden Tafsir

            .options__sub--tafsir.hidden.invisible
                h4.hidden Language
                .options__sub--tafsir--language.hidden
                    input#arabic-tafsir(type="radio" name="tafsir_language" value="ara" checked)
                    label(for="arabic-tafsir") Arabic
                    input#english-tafsir(type="radio" name="tafsir_language" value="eng")
                    label(for="english-tafsir") English

                h4.hidden Collection

                .options__sub--tafsir--collection.hidden.invisible
                    for tafsir_book in all_tafsir_books
                        input(type="radio" name="tafsir_collection" id=tafsir_book.slug value=tafsir_book.slug)
                        label(for=tafsir_book.slug language=tafsir_book.language) #{tafsir_book.name}