.tafsir 
    .toggle
        i(class="fi fi-rr-menu-burger")
    if mode === "TafsirChapter" || mode === "TafsirBooks"
        h1.quran__title= this_chapter.name
        h2.quran__basmallah 1
        -for(let i = 0; i < this_chapter.verses.length; i++)
            p(class=`quran__verse` data-book=`${this_book}` data-verse=`${i + 1}` data-chapter=`${readerTitle}`)= `${this_chapter.verses[i].text} ${i+1}`.replace(/\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])
            //- p.explanation= tafsir.ayat
            p.explanation= tafsir[0].ayat.ayahs[i].text
            p.seperator 51