.user
    h2 My Account

    form
        .user__info
            .user__info--photo
                h3 Profile Picture: 
                if user.photo !== ""
                    img(src=`/img/users/${user.photo}` alt='Profile photo' width="50" height="50" onclick="document.getElementById('photoInput').click()")
                else 
                    img(src='/img/default-user.png' alt='Profile photo' width="50" height="50" onclick="document.getElementById('photoInput').click()")
                input(type="file" name="photo" id="photoInput" style="display: none;")
            .user__info--username
                h3 Username: 
                input(type="text" name="username" value=user.username required id="username")
            .user__info--email
                h3 Email: 
                input(type="email" name="email" value=user.email required id="email")
            .user__info--password
                h3 Password: 
                input(type="password" name="password" placeholder="Enter new password" minlength="8" id="password")
                p Leave blank to keep your current password.
            .user__info--confirm_password
                h3 New Password: 
                input(type="password" name="newPassword" placeholder="Enter a new password" minlength="8" id="newPassword")

            //- .user__info--preferences
            //-     h3 Preferences
            //-     label(for="theme") Theme: 
            //-     select(name="prefrences[theme]" id="theme")
            //-         option(value="light" selected=user.prefrences.theme === 'light') Light
            //-         option(value="dark" selected=user.prefrences.theme === 'dark') Dark

            //- label(for="language") Language: 
            //- select(name="prefrences[language]" id="language")
            //-     option(value="en" selected=user.prefrences.language === 'en') English
            //-     option(value="ar" selected=user.prefrences.language === 'ar') Arabic
            .user__info--bookmarks
                h3 Bookmarks
                a(href=`/user/bookmarks` class="buttonlike" id="bookmarksbtn") View Your Bookmarks

            hr
            
            button(id="save" class="buttonlike") Save Changes
            button(id="logout" class="buttonlike logout") Logout


