extends ./Layout/_base
include ./Layout/_mixin.pug

block append head
  script(src="/js/Books.js" defer type="module")
  - var bodyClass = 'HadithBooks'
  - var mainClass = 'mainHadithBooks'

block content
    .title
        h2.title__sub الحديث النبوي الشريف

    .books
        //- card for each surah : this is a template as of now
        for book in books
            .books__card.hidden
                a.books__card__link(href=`/hadith/book/${book.name}/hadith/1`)
                img(src=`${book.image}`, alt="Book Cover")
                h3.books__card__name #{book.metadata.name}
                .books__card__info
                    p.books__card__info__hadiths #{book.hadith_counts} حديث
                    //- if the name starts with ara- then it is arabic / else it is english ✅
                    if book.name.startsWith('ara-')
                        p.books__card__info__language عربي
                    else
                        p.books__card__info__language English
                    p.books__card__info__fav
                        a(data-type=`hadith_book` data-name=book.name data-metadata_name=book.metadata.name )
                            +favIcon(book.name, fav_books)
