extends ./Layout/_base
include ./Layout/_mixin.pug

block append head
  script(src="/js/index.js" defer type="module")
  - var bodyClass = 'TafsirBooks'
  - var mainClass = 'mainTafsirBooks'

block content
    .title
        h2.title__sub تفسير القرآن الكريم

    .books
        //- card for each surah : this is a template as of now
        for book in all_books
            .books__card.hidden
                a.books__card__link(href=`/tafsir/book/${book.slug}/chapters/1`)
                img(src=`${book.image}`, alt="Book Cover")
                .books__card__info
                    h3(class='books__card__name TafsirTitle') #{book.name}
                    p.books__card__info__tafsir= book.author_name
                    //- if the name starts with ara- then it is arabic / else it is english ✅
                    if book.language_name === "arabic"
                        p.books__card__info__language عربي
                    else
                        p.books__card__info__language English
                    p.books__card__info__fav
                        a(data-type="tafsir_book" data-slug=book.slug data-name=book.name )
                            +favIcon(book.slug, fav_books)