extends ./Layout/_base
include ./Layout/_mixin

block append head
  script(src="/js/index.js" defer type="module")
  - var bodyClass = 'Home'
  - var mainClass = 'mainHome'

block content
    .title
        h1.title__main وَردِي
        h2.title__sub شَفِيعُ دَربِي

    .cuts
        a.cuts__quran(href="quran/") اِقْرَأِ القُرْآنَ
        a.cuts__hadith(href="hadith/") اِقْرَأِ الحَدِيثَ
        a.cuts__tafsir(href="tafsir/") اِقْرَأِ التَّفْسِيرَ
            
    .cards
        //- card for each surah : this is a template as of now
        for chapter in chapters
            .cards__surah.hidden
                a.cards__surah__link(href=`/quran/book/hafs/chapter/${chapter.chapter}`)
                p.cards__surah__info__order #{chapter.chapter}
                h3.cards__surah__name #{chapter.name}
                .cards__surah__info
                    p.cards__surah__info__ayat #{chapter.verses.length} آيات
                    p.cards__surah__info__type #{chapter.info.revelation}
                    p.cards__surah__info__fav
                        a(data-type='chapter' data-chapter=`${chapter.chapter}` )
                            +favIcon(chapter.chapter, fav_chapters)