mixin navItem(className, href, text, iconClass)
    li(class=className)
        a(href=href) 
            i(class=iconClass)
            | #{text}

header.header
    nav
        ul.topbar

            li.header__logo
                a(href='/' )
                  img(src='/img/LogoHD.png', alt='Logo') 
            
            +navItem('header__quran', '/quran', 'Quran', 'fi fi-rs-book-quran')
            +navItem('header__hadith', '/hadith', 'Hadith', 'fi fi-rs-books')
            +navItem('header__tafsir', '/tafsir', 'Tafsir', 'fi fi-rs-book-open-cover')
            +navItem('header__about', '/about', 'About', 'fi fi-rs-info')
            +navItem('header__bookmarks', '/user/bookmarks', 'Bookmarks', 'fi fi-rs-wishlist-star')
            
            li.header__search
                if !search
                    input(type="text", placeholder="Click for search page" id="searchField" readonly)
                    a(href='/search' id="searchButton") 
                            i(class="fi fi-rs-search")
                else
                    input(type="text", placeholder="Search.." id="searchField")
                    a(href='#' id="searchButton") 
                            i(class="fi fi-rs-search")
            
            if !user
                +navItem('header__user nologin', '/user/me', '', 'fi fi-rs-user')
            else
                li.header__user--image
                    a(href='/user/me' )
                        img(src=`/img/users/${user.photo || 'default-user.png'}`, alt='Logo') 

            +navItem('header__menu', '#', '', 'fi fi-rr-menu-burger')

        ul.Menusidebar
            +navItem('header__quran', '/quran', 'Quran', 'fi fi-rs-book-quran')
            +navItem('header__hadith', '/hadith', 'Hadith', 'fi fi-rs-books')
            +navItem('header__tafsir', '/tafsir', 'Tafsir', 'fi fi-rs-book-open-cover')
            +navItem('header__about', '/about', 'About', 'fi fi-rs-info')
            +navItem('header__bookmarks', '/user/bookmarks', 'Bookmarks', 'fi fi-rs-wishlist-star')
