include _mixin.pug

.Lsidebar 
    .Sidebar__title
        h1= Ltitle
    .search
        input(type="text" placeholder="Search" class="Lsearch")
        a(class="LsearchButton")
            i(class="fi fi-rs-search")
    
    ul
        // Quran Section ---------------------------------------------------
        if mode === "QuranChapter"
            each chapter in all_chapters
                if chapter.chapter === this_chapter.chapter 
                    li  
                        a(href=`/quran/book/${this_book}/chapter/${chapter.chapter}` class="LsideEntry selectedEntry" data-type=`chapter` data-chapter=`${chapter.chapter}`  )= chapter.name
                            +favIcon(chapter.chapter, fav_chapters)
                else
                    li  
                        a(href=`/quran/book/${this_book}/chapter/${chapter.chapter}` class="LsideEntry" data-type=`chapter` data-chapter=`${chapter.chapter}`  )= chapter.name
                            +favIcon(chapter.chapter, fav_chapters)
        
        else if mode === "QuranJuz"
            -for(let i = 1; i <= 30; i++)
                if i === this_juz.juz
                    li
                        a(href=`/quran/book/${this_book}/juz/${i}/chapter/` class="LsideEntry selectedEntry")= `${i} الجزء`
                else
                    li
                        a(href=`/quran/book/${this_book}/juz/${i}/chapter/` class="LsideEntry")= `${i} الجزء`
        
        else if mode === "QuranPage"
            each page in allpages
                if page.page_number === this_page.page_number
                    li
                        a(href=`/quran/book/${this_book}/page/${page.page_number}` class="LsideEntry selectedEntry" data-page=`${page.page_number}` data-type=`page`)= `${page.page_number} الصفحة`
                            +favIcon(page.page_number, fav_pages)
                else
                    li
                        a(href=`/quran/book/${this_book}/page/${page.page_number}` class="LsideEntry" data-page=`${page.page_number}`  data-type=`page`)= `${page.page_number} الصفحة`
                            +favIcon(page.page_number, fav_pages)

            // Hadith Section ---------------------------------------------------
        else if mode === "HadithChapter"
            each book in all_books
                if book.name === this_book.name
                    li
                        a(href=`/hadith/book/${book.name}/hadith/1` class="LsideEntry selectedEntry" data-name=`${book.name}` data-metadata_name=book.metadata.name data-type=`hadith_book`)= book.metadata.name
                            +favIcon(book.name, fav_books)
                else
                    lib
                        a(href=`/hadith/book/${book.name}/hadith/1` class="LsideEntry" data-name=`${book.name}` data-metadata_name=book.metadata.name data-type=`hadith_book`)= book.metadata.name
                            +favIcon(book.name, fav_books)
            li
                p Only books for your selected language are shown.

        else if mode === "HadithSection"
            -for(let index = 0; index < sectionsCount; index++)
                if this_hadith.metadata.sections[String(index)] !== ""
                    if index === sectionNumber
                        li
                            a(href=`/hadith/book/${this_hadith.name}/section/${index}`  class="LsideEntry selectedEntry resizable"  data-book=`${this_hadith.name}` data-section=`${index}` data-type=`hadith_section`)= `${this_hadith.metadata.sections[String(index)]}`
                                +favIcon(index, fav_sections)
                    else
                        li
                            a(href=`/hadith/book/${this_hadith.name}/section/${index}`  class="LsideEntry resizable"  data-book=`${this_hadith.name}` data-section=`${index}` data-type=`hadith_section`)= `${this_hadith.metadata.sections[String(index)]}`
                                +favIcon(index, fav_sections)
        
            // Tafsir Section ---------------------------------------------------
        else if mode === "TafsirChapter"
            each chapter in all_chapters
                if chapter.chapter === this_chapter.chapter
                    li
                        a(href=`/tafsir/book/${this_book}/chapter/${chapter.chapter}` data-chapter=chapter.chapter class="LsideEntry selectedEntry" data-type=`chapter`)= chapter.name
                            +favIcon(chapter.chapter, fav_chapters)
                else
                    li
                        a(href=`/tafsir/book/${this_book}/chapter/${chapter.chapter}` data-chapter=chapter.chapter class="LsideEntry" data-type=`chapter`)= chapter.name
                            +favIcon(chapter.chapter, fav_chapters)
        
        else if mode === "TafsirBooks"
            each book in all_books
                //- if book.slug.split("-")[0] === lang
                if book.slug === this_book
                    li
                        a(href=`/tafsir/book/${book.slug}/chapters/${this_chapter.chapter}` data-name=book.name data-slug=book.slug  class="LsideEntry selectedEntry resizable" data-type=`tafsir_book`)= book.name
                            +favIcon(book.slug, fav_books)
                else
                    li
                        a(href=`/tafsir/book/${book.slug}/chapters/${this_chapter.chapter}` data-name=book.name data-slug=book.slug class="LsideEntry resizable" data-type=`tafsir_book`)= book.name
                            +favIcon(book.slug, fav_books)