.Lsidebar 
    .Sidebar__title
        h1= Ltitle
    .search
        input(type="text" placeholder="Search" class="Lsearch")
        a(class="LsearchButton")
            i(class="fi fi-rs-search")
    
    ul
        // Quran Section ---------------------------------------------------
        if mode === "QuranChapter"
            each chapter in all_chapters
                if chapter.chapter === this_chapter.chapter 
                    li  
                        a(href=`/quran/chapter/${chapter.chapter}` class="LsideEntry selectedEntry")= chapter.name
                            i(class="fi fi-rs-heart heart")
                else
                    li  
                        a(href=`/quran/chapter/${chapter.chapter}` class="LsideEntry")= chapter.name
                            i(class="fi fi-rs-heart heart")
        
        else if mode === "QuranJuz"
            -for(let i = 1; i <= 30; i++)
                if i === this_juz.juz
                    li
                        a(href=`/quran/juz/${i}/chapter/` class="LsideEntry selectedEntry")= `${i} الجزء`
                else
                    li
                        a(href=`/quran/juz/${i}/chapter/` class="LsideEntry")= `${i} الجزء`
        
        else if mode === "QuranPage"
            each page in allpages
                if page.page_number === this_page.page_number
                    li
                        a(href=`/quran/page/${page.page_number}` class="LsideEntry selectedEntry")= `${page.page_number} الصفحة`
                            i(class="fi fi-rs-heart heart")
                else
                    li
                        a(href=`/quran/page/${page.page_number}` class="LsideEntry")= `${page.page_number} الصفحة`
                            i(class="fi fi-rs-heart heart")

            // Hadith Section ---------------------------------------------------
        else if mode === "HadithChapter"
            each book in all_books
                if book.name === this_hadith.name
                    li
                        a(href=`/hadith/book/${book.name}/hadith/1` class="LsideEntry selectedEntry")= book.metadata.name
                            i(class="fi fi-rs-heart heart")
                else
                    li
                        a(href=`/hadith/book/${book.name}/hadith/1` class="LsideEntry")= book.metadata.name
                            i(class="fi fi-rs-heart heart")

        else if mode === "HadithSection"
            -for(let index = 0; index < sectionsCount; index++)
                if this_hadith.metadata.sections[String(index)] !== ""
                    if index === sectionNumber
                        li
                            a(href=`/hadith/book/${this_hadith.name}/section/${index}` class="LsideEntry selectedEntry resizable")= `${this_hadith.metadata.sections[String(index)]}`
                                i(class="fi fi-rs-heart heart")
                    else
                        li
                            a(href=`/hadith/book/${this_hadith.name}/section/${index}` class="LsideEntry resizable")= `${this_hadith.metadata.sections[String(index)]}`
                                i(class="fi fi-rs-heart heart")
        
            // Tafsir Section ---------------------------------------------------
        else if mode === "TafsirChapter"
            each chapter in all_chapters
                if chapter.chapter === this_chapter.chapter
                    li
                        a(href=`/tafsir/book/${this_book}/chapter/${chapter.chapter}` class="LsideEntry selectedEntry")= chapter.name
                            i(class="fi fi-rs-heart heart")
                else
                    li
                        a(href=`/tafsir/book/${this_book}/chapter/${chapter.chapter}` class="LsideEntry")= chapter.name
                            i(class="fi fi-rs-heart heart")
        
        else if mode === "TafsirBooks"
            each book in all_books
                //- if book.slug.split("-")[0] === lang
                if book.slug === this_book
                    li
                        a(href=`/tafsir/book/${book.slug}/chapters/${this_chapter.chapter}` class="LsideEntry selectedEntry resizable")= book.name
                            i(class="fi fi-rs-heart heart")
                else
                    li
                        a(href=`/tafsir/book/${book.slug}/chapters/${this_chapter.chapter}` class="LsideEntry resizable")= book.name
                            i(class="fi fi-rs-heart heart")