.Lsidebar 
    h1= Ltitle
    .search
        input(type="text" placeholder="Search" class="Lsearch")
        a(class="LsearchButton")
            i(class="fi fi-rs-search")
    ul
    if mode === "QuranChapter"
        each chapter in allchapters
            if chapter.chapter === this_chapter.chapter 
                li  
                    a(href=`/quran/chapter/${chapter.chapter}` class="LsideEntry selectedEntry")= chapter.name
            else
                li  
                    a(href=`/quran/chapter/${chapter.chapter}` class="LsideEntry")= chapter.name
                    
    else if mode === "QuranJuz"
        each juz in alljuz
            
            if juz.juz === this_juz.juz
                li
                    a(href=`/quran/juz/${juz.juz}` class="LsideEntry selectedEntry")= `${juz.juz} الجزء`
            else
                li
                    a(href=`/quran/juz/${juz.juz}` class="LsideEntry")= `${juz.juz} الجزء`
    