.Rsidebar 
    h1= Rtitle
    .search
        input(type="text" placeholder="Search" class="Rsearch")
        a(class="RsearchButton")
            i(class="fi fi-rs-search")
    ul
        if mode === "QuranChapter"
            for verse in this_chapter.verses
                li
                    a(href=`#` class="RsideEntry" id=verse.verse)= verse.verse
                        i(class="fi fi-rs-heart heart" data-verse-id=verse.verse)
            
        else if mode === "QuranJuz"
            for chapter in chapters
                if chapter.chapter === this_chapter.chapter
                    li
                        a(href=`/quran/juz/${this_juz.juz}/${chapter.chapter}` class="RsideEntry selectedEntry")= info.chapters[chapter.chapter - 1][0].arabicname
                else
                    li
                        a(href=`/quran/juz/${this_juz.juz}/${chapter.chapter}` class="RsideEntry")= info.chapters[chapter.chapter - 1][0].arabicname
