include _mixin.pug

.Rsidebar 
    .Sidebar__title
        h1= Rtitle
    .search
        input(type="text" placeholder="Search" class="Rsearch")
        a(class="RsearchButton")
            i(class="fi fi-rs-search")
    ul
        // Quran Section ---------------------------------------------------
        if mode === "QuranChapter"
            for verse in this_chapter.verses
                li
                    a(href=`#` class="RsideEntry quranChapterSearch" data-type=`verse` data-verse=`${verse.verse}` data-chapter=`${this_chapter.chapter}`)= verse.verse
                        +favIcon(verse.verse, fav_verses)
            
        else if mode === "QuranJuz"
            for chapter in chapters
                if chapter.chapter === chapterNumber
                    li
                        a(href=`/quran/juz/${juzNumber}/chapter/${chapter.chapter}` data-type=`chapter` class="RsideEntry selectedEntry nosearch" data-chapter=`${chapter.chapter}`)= info[0].arabicname[chapter.chapter - 1]
                            +favIcon(chapter.chapter, fav_chapters)

                else
                    li
                        a(href=`/quran/juz/${juzNumber}/chapter/${chapter.chapter}` data-type=`chapter` class="RsideEntry nosearch" data-chapter=`${chapter.chapter}`)= info[0].arabicname[chapter.chapter - 1]
                            +favIcon(chapter.chapter, fav_chapters)

        else if mode === "QuranPage"
            for verse in this_page.verses
                // script :
                li
                    a(href=`#` class="RsideEntry with_name quranChapterSearch" data-type=`verse` data-verse=`${verse.verse}` data-chapter=`${chapter_info[verse.chapter - 1].number}` )= `${verse.verse} ${chapter_info[verse.chapter - 1].name}`
                        +favIcon(verse.verse, fav_verses)
            

            // Hadith Section ---------------------------------------------------
        else if mode === "HadithChapter"
            - for (var i = 1; i <= this_book.hadith_counts; i++)
                if i === this_book.hadith.hadithnumber
                    li
                        a(href=`/hadith/book/${this_book.name}/hadith/${i}` data-book=`${this_book.number}` data-type=`hadith` class="RsideEntry selectedEntry nosearch" data-hadith=`${i}` )= `الحديث رقم ${i}`
                            +favIcon(i, fav_hadiths)

                else
                    li
                        a(href=`/hadith/book/${this_book.name}/hadith/${i}` data-book=`${this_book.number}` data-type=`hadith` class="RsideEntry nosearch" data-hadith=`${i}`)= `الحديث رقم ${i}`
                            +favIcon(i, fav_hadiths)

        else if mode === "HadithSection"
            for hadith in this_hadith.hadiths
                li
                    a(href=`#` class="RsideEntry Hadith__Section" data-type=`hadith` data-hadith=`${hadith.hadithnumber}` data-book=`${this_hadith.number}`)= `الحديث رقم ${hadith.hadithnumber}`
                        +favIcon(hadith.hadithnumber, fav_hadiths)

            // Tafsir Section ---------------------------------------------------
        else if mode === "TafsirChapter"
            for verse in this_chapter.verses
                li
                    a(href=`#` class="RsideEntry tafsirChapterSearch" data-type=`verse` data-verse=`${verse.verse}` data-chapter=`${chapter.chapter}`)= verse.verse
                        +favIcon(verse.verse, fav_verses)

        else if mode === "TafsirBooks"
            for chapter in all_chapters
                li
                    a(href=`/tafsir/book/${this_book}/chapters/${chapter.chapter}`  data-type=`chapter` class="RsideEntry nosearch" data-chapter=`${chapter.chapter}`)= chapter.name
                        +favIcon(chapter.chapter, fav_chapters)